<!-- views/partials/header.ejs -->

<!--
**  file              header.ejs
**  brief             Laboratoire 3 
**  author            Matis Goulet
**  version           1.00
**  date              2021/15/9

**  mainpage          Labo3.js
**  author            Matis Goulet
**  description       ce fichier sert de "template" pour les header
-->

<nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">
                <span class="glyphicon glyphicon-home"></span>menu
            </a>
        </div>
        <ul class="nav navbar-nav">
            <li><a href="/">Accueil</a></li>
            <li><a href="/contact">Contact</a></li>
            <li><a href="/controle">Controle</a></li>
        </ul>
    </div>
</nav>