<!DOCTYPE html>

<!--
**  file              404.ejs
**  brief             Laboratoire 3 
**  author            Matis Goulet
**  version           1.00
**  date              2021/15/9

**  mainpage          Labo3.js
**  author            Matis Goulet
**  description       ce fichier personalise la page d'exeptions (404)
-->

<html lang="fr">
    <head>
        <%- include('../partials/head') %>
    </head>
    <body class="container">
        <header>
            <%- include('../partials/header') %>
        </header>
        <main>
            <div class="jumbotron">
                <h1>404 !</h1>
                <h3>Page introuvable</h3>
            </div>
        </main>
        <footer>
            <%- include('../partials/footer') %>
        </footer>
    </body>
</html>