<!DOCTYPE html>

<!--
**  file              404.ejs
**  brief             Laboratoire 3 
**  author            Matis Goulet
**  version           1.00
**  date              2021/15/9

**  mainpage          Labo3.js
**  author            Matis Goulet
**  description       ce fichier personalise la page de contact
-->

<html lang="fr">
    <head>
        <%- include('../partials/head') %>
    </head>
    <body class="container">
        <header>
            <%- include('../partials/header') %>
        </header>
        <main>
            <div class="jumbotron">
                <table class="table">
                    <thead>
                        <tr>
                            <th colspan="2"><h2>Contact</h2></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th scope="row">nom</th>
                            <td>Goulet</td>
                        </tr>
                        <tr>
                            <th scope="row">prénom</th>
                            <td>Matis</td>
                        </tr>
                        <tr>
                            <th scope="row">adresse postale</th>
                            <td>J7J 0B3</td>
                        </tr>
                        <tr>
                            <th scope="row">courriel</th>
                            <td><a href="billgates@hotmail.com">billgates@hotmail.com</a></td>
                        </tr>
                        <tr>
                            <th scope="row">téléphone</th>
                            <td>(514)-951-6072</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </main>
        <footer>
            <%- include('../partials/footer') %>
        </footer>
    </body>
</html>